.navbar {
  background: white;
  flex-grow: 0;

  ul {
    list-style-type: none;
    display: flex;
  }
}

.nav-link {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 10px 0 10px;
}

#titulo {
  margin-right: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
